{% load static%}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static "aplicacion/css/bootstrap.css" %}">
  <link rel="stylesheet" href="{% static "aplicacion/css/style.css" %}">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="{% static "aplicacion/js/jquery-3.7.1.min.js" %}"></script>
</head>

<body>
  {% include "aplicacion/sitio_header_base.html" %}
  <div></div>
  <div class="mt-4 p-5 bg-dark text-white">
    <h1>Bienvenido a lo último en componentes para tu PC.</h1>
    <p>Visita nuestras distintas secciones:</p>
    <div class="row justify-content-around ">
      <div class="col-12 col-md-4 col-sm-4 mb-3"><a href="{% url "productos" %}"
          class="p-3 w-100 btn btn-primary big-button">
          <h3>Ofertas</h3>
        </a></div>
      <div class="col-12 col-md-4 col-sm-4 mb-3"><a href="{% url "productos" %}"
          class="p-3 w-100 btn btn-primary big-button">
          <h3>Novedades</h3>
        </a></div>
      <div class="col-12 col-md-4 col-sm-4 mb-3"><a href="{% url "productos" %}"
          class="p-3 w-100 btn btn-primary big-button">
          <h3>Preventas</h3>
        </a></div>
    </div>
    <script src="{% static "aplicacion/js/query.js" %}"></script>
    <div class="">
      <h2>Ultimas noticias de tecnología</h2>
    </div>
    <div class="d-flex justify-content-center"  >
      <div class="text-center spinner-border text-light" id="spinnerNoticia"></div>
    </div>

    <div class="row" id="seccionNoticia">
      <div class="col-sm-4">
        <a href="" id="linkNoticia"><img class="container-fluid" src="" alt="" id="noticiaImagen"></a>
      </div>
      <div class="col-sm-6">
        <h3 id="headerNoticia"></h3>
        <p id="textoNoticia"></p>
      </div>

    </div>
  </div>
  <div class="container mt-3">
    <h1>Lo mas vendido</h1>
  </div>
  <div class="container">
    <div class="row row-cols-3 justify-content-center">
      <div class="col-auto col-sm-6 col-md-5 col-lg-3 m-4 rounded border bg-light">
        <a href="{% url "info_producto" %}">
          <div class="row">
            <div class="col"> <img src="{% static "aplicacion/img/gpu.png" %}" alt="" class="product-img rounded"></div>
            <div class="col">
              <p>GeForce RTX 4060 VENTUS 2X BLACK 8G</p>
              <p>Stock: 10</p>
              <p class="text-end me-3">$299.990</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  </div>
</body>

</html>
