{% extends "aplicacion/sitio_header_base.html" %}
{% load static%}
{% block contenido %}

  <div class="mt-4 p-5 bg-dark text-white">
    <h1>Bienvenido a lo último en componentes para tu PC.</h1>
    <p>Visita nuestras distintas secciones:</p>
    <div class="row justify-content-around ">
      <div class="col-12 col-md-4 col-sm-4 mb-3"><a href="{% url "categoria" %}"
          class="p-3 w-100 btn btn-primary big-button">
          <h3>Ofertas</h3>
        </a></div>
      <div class="col-12 col-md-4 col-sm-4 mb-3"><a href="{% url "categoria" %}"
          class="p-3 w-100 btn btn-primary big-button">
          <h3>Novedades</h3>
        </a></div>
      <div class="col-12 col-md-4 col-sm-4 mb-3"><a href="{% url "categoria" %}"
          class="p-3 w-100 btn btn-primary big-button">
          <h3>Preventas</h3>
        </a></div>
    </div>
    <script src="{% static "aplicacion/js/query.js" %}"></script>
    <div class="">
      <h2>Ultimas noticias de tecnología</h2>
    </div>
    <div class="d-flex justify-content-center"  >
      <div class="text-center spinner-border text-light" id="spinnerNoticia"></div>
    </div>

    <div class="row" id="seccionNoticia">
      <div class="col-sm-4">
        <a href="" id="linkNoticia"><img class="container-fluid" src="" alt="" id="noticiaImagen"></a>
      </div>
      <div class="col-sm-6">
        <h3 id="headerNoticia"></h3>
        <p id="textoNoticia"></p>
      </div>

    </div>
  </div>
  <div class="container mt-3">
    <h1>Lo mas vendido</h1>
  </div>

  <div class="container">
    <div class="row row-cols-3 justify-content-center">
      {% for p in productos %}
      <div class="col-auto col-sm-6 col-md-5 col-lg-3 m-4 rounded border bg-light">
        <a href="{% url "info_producto" p.codigo %}">
          <div class="row">
            <div class="col"> <img src="{{p.foto_pro.url}}" alt="" class="product-img rounded"></div>
            <div class="col">
              <p>{{p.nombre_pro}}</p>
              <p class="text-end me-3">${{p.precio}}</p>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  </div>



  {% endblock contenido %}