{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="../../css/style.css">
  <script>src = "script.js"</script>
  <title>Ventas</title>
</head>

<body>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-xxl navbar-dark bg-dark fixed-top">

      <div class="container-fluid">
        <button class="bg-dark rounded" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
          aria-controls="offcanvasExample">
          <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
        </button>
        <a class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold"
          href="../dashboard/dashboard.html">PCSHOP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavBar"
          aria-controls="topNavBar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="topNavBar">
          <form class="d-flex ms-auto my-3 my-lg-0">
            <div class="input-group">
              <input class="form-control" type="search" placeholder="Search" aria-label="Search" />
              <button class="btn btn-primary" type="submit">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </form>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle ms-2" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="bi bi-person-fill"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="../site/index.html">Ir a pagina principal</a></li>
                <li><a class="dropdown-item" href="../dashboard/dashboard.html">Dashboard</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="offcanvas offcanvas-start sidebar-nav bg-dark" tabindex="-1" id="sidebar">
    <div class="offcanvas-body p-0">
      <nav class="navbar-dark">
        <ul class="navbar-nav">
          <li>
            <div class="text-muted small fw-bold text-uppercase px-3">
              CORE
            </div>
          </li>
          <li>
            <a href="../dashboard/dashboard.html" class="nav-link px-3 active">
              <span class="me-2"><i class="bi bi-speedometer2"></i></span>
              <span>Dashboard</span>
            </a>
          </li>
          <li class="my-4">
            <hr class="dropdown-divider bg-light" />
          </li>
          <li>
            <div class="bg-white text-muted small fw-bold text-uppercase px-3 mb-3">
              Gestion
            </div>
          </li>
          <li>
            <a class="nav-link px-3" href="../dashboard/productos.html">
              <span class="me-2"><i class="bi bi-bag"></i></span>
              <span>Productos</span>
              <span class="ms-auto">
                <span class="right-icon">
                </span>
              </span>
            </a>
          </li>
          <li>
            <a href="../dashboard/cliente.html" class="nav-link px-3">
              <span class="me-2"><i class="bi bi-person-vcard-fill"></i></span>
              <span>Clientes</span>
            </a>
          </li>
          <li class="my-4">
            <hr class="dropdown-divider bg-light" />
          </li>
          <li>
            <div class="bg-white text-muted small fw-bold text-uppercase px-3 mb-3">
              Finanzas <i class="bi bi-wallet"></i>
            </div>
          </li>
          <li>
            <a href="../dashboard/ventas.html" class="nav-link px-3">
              <span class="me-2"><i class="bi bi-graph-up"></i></span>
              <span>Ventas</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="container-fluid" style="margin-top: 5vw;">
    <H1 class="font-monospace  text-uppercase">VENTAS</H1>
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-end ">
        <li class="page-item disabled">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
    <div style="overflow-x:auto;">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col">Nro Pedido</th>
            <th scope="col">Cliente</th>
            <th scope="col">Correo Cliente</th>
            <th scope="col">Resumen Pedido</th>
            <th scope="col">Estado</th>
            <a href="dashboard.html"></a>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr class="table">
            <th class="align-middle" scope="row">246</th>
            <td class="align-middle text-uppercase">Jorge Gonzales</td>
            <td class="align-middle text-uppercase">jorg.go@email.com</td>
            <td class="align-middle text-uppercase ">x1 $299.990 Gigabyte NVIDIA GEFORCE RTX 4060 GAMING OC 8GB</td>
            <td class="align-middle  text-uppercase">
              <select name="estados" id="tipo-estado" class="form-select">
                <option value="completado">Completado</option>
                <option value="activo" selected>Activo</option>
                <option value="cancelado">Cancelado</option>
              </select>
            </td>
          </tr>
          <tr class="table-danger">
            <th scope="row" class="align-middle">247</th>
            <td class="align-middle text-uppercase">Emmanuel Flores</td>
            <td class="align-middle text-uppercase">ema.flo@email.com</td>
            <td class="align-middle text-uppercase ">x1 $400.000 MSI Tarjeta de Video NVIDIA GeForce RTX 4060 VENTUS 2X
              BLACK 8G OC</td>
            <td class="align-middle text-uppercase">
              <select name="estados" id="tipo-estado" class="form-select">
                <option value="completado">Completado</option>
                <option value="activo" selected>Activo</option>
                <option value="cancelado">Cancelado</option>
              </select>
            </td>
          </tr>
          <tr class="table-success">
            <th scope="row" class="align-middle">248</th>
            <td class="align-middle text-uppercase">Alvaro Sanchez</td>
            <td class="align-middle text-uppercase">alv.san@email.com</td>
            <td class="align-middle text-uppercase">x1 ASUS Tarjeta de Video Dual GeForce RTX 3050 OC, 8GB GDDR6
              <p>x2 RAM Kingston 8GB 3200MHz Fury Beast RGB DDR4</p>
            </td>
            <td class="align-middle ">
              <select name="estados" id="tipo-estado" class="form-select">
                <option value="completado">Completado</option>
                <option value="activo" selected>Activo</option>
                <option value="cancelado">Cancelado</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>
